%section
  %h1
    %a#github-page.anchor{"aria-hidden" => "true", href: "#github-page"}>
      %span.octicon.octicon-link
    Dictionary
  %p This is the dictionary page. It has definitions of various words - there is no logic to what the words are.
  %h3
    %a#welcome-to-github-pages.anchor{"aria-hidden" => "true", href: "#welcome-to-github-pages"}>
      %span.octicon.octicon-link
    Thy wurds
  %dl
    %dt Extol
    %dd
      To praise highly, glorify.
      %br
      Pretty sure I read this in an article. Someone was being extolled, which I thought sounded bad at the time, but it's good.
    %dt Subcutaneous
    %dd
      %em Medical
      \: Under the skin. Being, living, occurring, or administered under the skin.
      %br
      Motorola reportedly created a password pill. Someone assumed it would be subcutaneous but apparently you eat it.
    %dt Dearth
    %dd
      The state or condition of not having enough of something. Scarcity, an inadequate supply.
      %br
      I think this was in the Game of Thrones book. It seems fitting.
    %dt Bespoke
    %dd
      Made to fit a particular person; custom made.
      %br
      Someone said they were going to make a bespoke PC that only played Mario Kart.
    %dt Ablution
    %dd
      The washing of one's body or part of it (as in a religious rite). The act or action of bathing.
      %br
      I read this one in a news article written by a cranky sounding man. It was used facetiously.
  %p
    Find me on Twitter (
    %a{href: "https://twitter.com/bacondrake", target: "_blank"}> @bacondrake
    )
    %br
      You can find me on GitHub in many ways on this page, such as here: (
      %a{href: "https://github.com/bacondrake"}> @bacondrake on GitHub
      )