%section
  %h1
    %a#github-page.anchor{"aria-hidden" => "true", href: "#github-page"}>
      %span.octicon.octicon-link
    GitHub Page
  %p This is my GitHub page, I'm using the automatic page generator to try it out.
  %p
    The information below is here because I've got no content to fill the page with. Maybe check the
    %a{href: "/about"} about page
    out.
  %h3#programming-tools.anchor Programming tools
  %p
    The
    %a{href: "/programming-tools"} programming tools
    page has a bunch of programming tools I've come across. Some of them will have notes on my personal experiences and general thoughts, particularly tutorials. A lot of them are just there for my reference later on.
  %h3#dictionary.anchor Dictionary
  %p
    The
    %a{href: "/dictionary"} dictionary
    just has a bunch of encountered words and their meanings. I've put them there for my reference — if I hear a word that I think will be useful later on, I will probably put it in there because I'll forget it otherwise. Then the definition is there forevermore.